@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');

/*configurar toda la pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Macondo', sans-serif;

}

/*configuraciones generales*/
a{
    text-decoration: none;
    
}
ul{
    list-style-type: none;
}
body html {
    overflow-x: hidden;

}
section{
    width: 80%;
    margin: 80px auto;

}
/*final de configuraciones generales*/


/*header y titulos*/

header{
    width: 100vw;
    height: 100vh;

    background-image: url(../Imagenes/OST.jpg);
    color: #00ff0d;
    font-size: 10vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-content
{
    margin-bottom: 150px;
    
    background: linear-gradient(rgb(0, 255, 21), rgb(0, 217, 255));
    font-family: system-ui;
    font-size: 3vh;
    -webkit-text-fill-color: transparent;
    text-align: center;
   

}

.ctn1{
    padding: 10px 5px;
    
    border-radius: 30px;
    color: whitesmoke;
}

.header-content h2
{
    font-size: 4vmin;
}

.line
{
    width: 150px;
    height: 4px;
    background: #69c8ecff;
    margin: 10px auto;
    border-radius: 5px;

}

.header-content h1
{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}


.ctn
{
    padding: 10px 5px;
    background: #0cfc04;
    border-radius: 30px;
    color: whitesmoke;
    

}
/*final de header y titulos*/

/*Inicio de navbar*/
.logo img{
    width: 350px;
    height: 120px;
   
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;

}
.nav-links{
    display: flex;
    align-items: center;

}

.nav-links li{
    margin: 0 30px;
    
}

/*final de navbar*/


/*segunda parte de la pagina*/

.row{
    place-items: center;
    display: flex;
}

.row2{
    place-items: center;
    display: flex;
}
.row3{
    display: flex;
}
.events{
    align-items: center;
    padding-right: 1600px;
}
h4{
    font-size: 3vmin;
    color: #484872;
    display: flex;
    justify-content: center;

}
p{
    color: #000000;
    padding: 0px 40px;
    


}


.img{
    height: 700px;
    width: 800px;
    padding: 9px;
}
/* final de la segunda parte de la pagina*/

/*footer*/

.footer{
    width: 100%;
    height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #480293;
    text-align: center;
   
}
.formulario{
    text-align-last: center;
    text-align: justify;
}